:root {
	--primary-color: #13667f;
	--secondary-color: #fef4e8;
	--black-color: #2a2a2a;
	--grey-color: #d9d9d9;
	--white-color: #f1f1f1;

	--normal-font-size: 1rem;
	--heading-font-size: 2.2rem;
	--subheading-font-size: 1.9rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'raleway';
	color: var(--black-color);
}

h1,
h2 {
	font-family: 'raleway-bold';
}

h3,
h4,
h5,
h6 {
	font-family: 'raleway-semi-bold';
}

.raleway {
	font-family: 'raleway';
}

@font-face {
	font-family: 'raleway';
	src: url('/fonts/Raleway-Regular.ttf');
	/* font-weight: bold; */
	font-style: normal;
}

@font-face {
	font-family: 'raleway-bold';
	src: url('/fonts/Raleway-Bold.ttf');
	/* font-weight: bold; */
	font-style: normal;
}

@font-face {
	font-family: 'raleway-semi-bold';
	src: url('/fonts/Raleway-SemiBold.ttf');
	/* font-weight: bold; */
	font-style: normal;
}

@media screen and (max-width: 500px) {
	:root {
		--normal-font-size: 1rem;
		--heading-font-size: 1.8rem;
		--subheading-font-size: 1.5rem;
	}
}
